{% extends 'base.html.twig' %}




{% block body %}
    <div class="row">
        {% for post in posts %}
            <div class="col-sm-4 my-3">
                <div class="card">
                    {% if post.image is null %}
                        <img src="{{ asset('images/moon.jpg') }}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="{{ asset('images/'~post.image) }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h2>{{ post.title }}</h2>
                        <p>Créé par {{ post.idUser.firstname }} le {{ post.createdAt|date("d/m/Y") }}</p>
                        <p class="card-text">{{ post.content|slice(0, 150) }}</p>
                        <a href="{{ path('app_show', {'slug':post.slug}) }}" class="btn btn-primary">Lire la suite</a>
                        {% with %}
                            {% set myPost = post %}
                                {% block link %}{% endblock %}
                        {% endwith %}

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}



{#
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p>Créé par {{ post.idUser.firstname }} le {{ post.createdAt|date("d/m/Y") }}</p>
            <img src="{{ post.image }}" alt="{{ post.title }}">
            <p>{{ post.content|slice(150) }}</p>
            <a href="#">Lire la suite</a>
        </div>
    {% endfor %}#}
