{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <h1>Add article</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.abstract) }}
    {{ form_row(form.content) }}
    {{ form_row(form.image) }}
    {{ form_row(form.idCategory) }}
    {# {{ form_row(registrationForm.agreeTerms) }}#}

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
